<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a href="nav.html" class="navbar-brand"><h5>Mansi Jain</h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="#connect" class="nav-link">Connect</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- The slider  -->
    <div class="carousel slide" id="slides" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner" style="height:70vh;">
            <div class="carousel-item active">
                <img src="images/image-2.png" alt="">
                <div class="carousel-caption">
                    <h1 class="display-3">I am Mansi Jain</h1>
                </div>
            </div>
               <div class="carousel-item">
                <img src="images/image-2.png" alt="">
                <div class="carousel-caption">
                    <h1 class="display-3">I develop Web Pages</h1>
                </div>
            </div>
               <div class="carousel-item">
                <img src="images/image-2.png" alt="">
                <div class="carousel-caption">
                    <h1 class="display-3">and Mobile Applications too!</h1>
                </div>
            </div>
        </div>
    </div>

<!--jumbotron about-->

   <div class="container-fluid parallax">
     <a name="about" class="anchor"></a>
    <div class="row text-center" style="height:300px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="lead" style="font-size:2em; margin-top:130px; background-color:#fff;"><i class="fa fa-snowflake-o" aria-hidden="true" style="color:black;"></i>  Just a Curious Developer who loves to Code.</p>
        </div>
    </div>
   </div>
<!--project section-->
<a name ="projects"></a>
<div class="container-fluid padding" style="padding-top:70px">
    <div class="row text-center">
      <div class="col-md-3"></div>
       <div class="col-md-3 align-self-center text-right">
           <h3 class="display-4" style="background-color:rgba(255,255,255,0.7);">First Project</h3>
           <p style="background-color:rgba(255,255,255,0.7);">This is a simple HTML CSS editor written in HTML, CSS and JQuery</p>
       </div>
          <div class="col-md-6 align-self-center text-left">
          <a href="{% url 'editor' %}">
            <img src="images/codeEditor_banner.png" alt="" class = "img-thumbnail pro_img" data-aos="fade-in" data-aos-delay="300">
          </a>
       </div>
   </div>
<br>
<br>
 <div class="row text-center">
        <div class="col-md-6 text-right">
            <a href="{% url 'home' %}"><img src="images/Portfolio.png" data-aos="fade-in" data-aos-delay="300" alt="" class = "img-thumbnail pro_img animated bounce infinite" id="animated-img1"></a>
        </div>
           <div class="col-md-3.5 align-self-center text-left">
            <h3 class="display-4"style="background-color:rgba(255,255,255,0.7);">Second Project</h3>
            <p style="background-color:rgba(255,255,255,0.7);">Here I showcase all my work in my portfolio.</p>
        </div>
    </div>
</div>
<!--Connect-->
<a name="connect"></a>
<div class="container-fluid bg-light connect" style="padding-6btop:70px">
   <div class="row">
           <div class="col-md-12 text-center" data-aos="zoom-in" data-aos-delay="50"><h1 class="display-4">Connect</h1></div>
       </div>
       <br>
       <br>
    <div class="row" style="padding-bottom: 18px; color">
        <div class="col-md-2 text-right"><a href="#"><i class="fa fa-facebook-square" style="font-size: 50px;"></i></a></div>
        <div class="col-md-2 text-right"><a href="#"><i class="fa fa-instagram" style="font-size: 50px;"></i></a></div>
        <div class="col-md-2 text-right"><a href="https://github.com/mansi2919"><i class="fa fa-github-square" style="font-size: 50px;"></i></a></div>
        <div class="col-md-2 text-left"><a href="https://www.youtube.com/channel/UC7eP68JeMnCB55SNjvnxabw"><i class="fa fa-youtube-square" style="font-size: 50px;"></i></a></div>
        <div class="col-md-2 text-left"><a href="#"><i class="fa fa-twitter-square"style="font-size: 50px;"></i></a></div>
        <div class="col-md-2 text-left"><a href="https://www.linkedin.com/in/mansi-jain-725b6513a/"><i class="fa fa-linkedin-square"style="font-size: 50px;"></i></a></div>
    </div>
</div>
<!--footer section-->
<a name="contact"></a>
<footer class= "footer">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
<!--          <hr class="light">-->
           <h6 class="text-center">All rights reserved &copy; Mansi Jain</h6>
           <h6 class="text-center">Designed by Mansi Jain</h6>
           </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
AOS.init();
</script>
</body>
</html>
